<app-branch-header [branch]="branch" [projId]="project.id">
</app-branch-header>
<div class="container w-50 mt-3">
    <ul>
        <li *ngIf="branch.description">
            <strong>Description: </strong>{{ branch.description }}
        </li>
        <li *ngIf="branch.members.length > 0">
            <strong i18n="Members">Members:</strong>
            <ul class="mt-1">
                <li *ngFor="let member of branch.members;">{{member}}</li>
            </ul>
        </li>
        <li *ngIf="branch.dependencies.length > 0">
            <strong i18n="Dependencies">Dependencies:</strong>
            <ul class="mt-1">
                <li *ngFor="let dep of branch.dependencies;">
                    <a routerLink="/projects/{{ dep.split(':', 2)[0] }}/branches/{{ dep.split(':', 2)[1] }}">
                        (#{{ dep.split(':', 2)[0] }}) {{ dep.split(':', 2)[1] }}</a>
                </li>
            </ul>
        </li>
        <li *ngIf="branch.lastCommit">
            <strong i18n="Last commit">Last Commit:</strong>
            <ul class="mt-1">
                <li *ngIf="branch.lastCommit.identifier"><strong i18n="Commit identifier">Identifier: </strong>
                    {{
                    branch.lastCommit.identifier.includes('Revision') ? branch.lastCommit.identifier :
                    branch.lastCommit.identifier.substr(0, 7)
                    }}
                </li>
                <li><strong i18n="Commit author" *ngIf="branch.lastCommit.author">Author:
                    </strong>{{ branch.lastCommit.author }}
                </li>
                <li><strong i18n="Commit Message" *ngIf="branch.lastCommit.message">Message: </strong>{{
                    branch.lastCommit.message }}</li>
                <li><strong i18n="Timestamp" *ngIf="branch.lastCommit.timestamp">Timestamp: </strong>{{
                    branch.lastCommit.timestamp |
                    date : 'H:mm:ss, dd.MM.yy'}} ({{ fmtTimestamp }})</li>
            </ul>
        </li>
        <li *ngIf="branch.mails.length > 0">
            <strong i18n="Mails">Mails:</strong>
            <ul class="mt-1">
                <li *ngFor="let mail of branch.mails;"> {{ mail }}</li>
            </ul>
        </li>
        <li *ngIf="branch.deployment">
            <strong i18n="Deplyoment">Deployment:</strong> {{ branch.deployment }}
        </li>
        <li *ngIf="branch.buildWebhook">
            <strong>Build Webhook:</strong> {{ branch.buildWebhook }}
        </li>
        <li *ngIf="branch.buildSuccessUrl">
            <strong>Build Success Url:</strong> {{ branch.buildSuccessUrl }}
        </li>
        <li *ngIf="branch.buildFailureUrl">
            <strong>Build Fail Url:</strong> {{ branch.buildFailureUrl }}
        </li>
        <li>
            <a class="font-weight-bold" routerLink="buildhistory" i18n="Build history">Build History</a>
        </li>
        <li>
            <a class="font-weight-bold" routerLink="deploymenthistory" i18n="Deplyoment history">Deployment
                History</a>
        </li>
    </ul>
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#readmeCollapse"
        aria-expanded="false" aria-controls="readmeCollapse" i18n="Show readme">Show Readme</button>
    <div class="collapse py-2" id="readmeCollapse">
        <div class="card card-body">
            <markdown [data]="branch.readme"></markdown>
        </div>
    </div>
</div>