<app-branch-header [branch]="branch" [projId]="project.id">
</app-branch-header>
<div class="container w-50 mt-3">
    <ul>
        <li>
            <b i18n="Members">Members:</b>
            <ul class="mt-1">
                <li *ngFor="let member of branch.members;">{{member}}</li>
            </ul>
        </li>
        <li>
            <b i18n="Dependencies">Dependencies:</b>
            <ul class="mt-1">
                <li *ngFor="let dep of branch.dependencies;"> {{ dep }}</li>
            </ul>
        </li>
        <li>
            <b i18n="Last commit">Last Commit:</b>
            <ul class="mt-1">
                <li><b i18n="Commit hash">Hash: </b>
                    {{ branch.lastCommit.hash.substr(0, 7) }}
                </li>
                <li><b i18n="Commit author">Author: </b>{{ branch.lastCommit.author }}</li>
                <li><b i18n="Commit Message">Message: </b>{{ branch.lastCommit.message }}</li>
                <li><b i18n="Timestamp">Timestamp: </b>{{ branch.lastCommit.timestamp }}</li>
            </ul>
        </li>
        <li>
            <b i18n="Deplyoment">Deployment:</b> {{ branch.deployment }}
        </li>
        <li>
            <b>Build Webhook:</b> {{ branch.buildWebhook }}
        </li>
        <li>
            <b>Build Success URL:</b> {{ branch.buildSuccessURL }}
        </li>
        <li>
            <b>Build Fail URL:</b> {{ branch.buildFailURL }}
        </li>
        <li>
            <a class="font-weight-bold" routerLink="buildhistory" i18n="Build history">Build History</a>
        </li>
        <li>
            <a class="font-weight-bold" routerLink="deploymenthistory" i18n="Deplyoment history">Deployment History</a>
        </li>
    </ul>
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#readmeCollapse" aria-expanded="false"
        aria-controls="readmeCollapse" i18n="Show readme">Show Readme</button>
    <div class="collapse" id="readmeCollapse">
        <div class="card card-body">
            <markdown [data]="branch.readme"></markdown>
        </div>
    </div>
</div>