<div class="container d-flex flex-row w-50 justify-content-between border-bottom border-dark pb-2">
    <h3>{{branch.name}}</h3>
    <div class="d-flex flex-row">
        <button *ngIf="branch.buildWebhook" type="button" class="btn btn-primary ml-3" (click)="triggerBuild()" i18n="Trigger Build">Trigger
            Build</button>
        <div *ngIf="branch.buildWebhook" class="pt-2 ml-2">
            <input class="mr-1" type="checkbox" #rebuild id="rebuild">
            <label for="rebuild" i18n="Build Dependencies">Build Dependencies</label>
        </div>
        <button *ngIf="branch.deployment && branch.buildWebhook" type="button" class="btn btn-primary ml-3" (click)="buildAndDeploy()"
            i18n="Build & Deploy">Build &
            Deploy</button>
        <button *ngIf="branch.deployment" type="button" class="btn btn-primary ml-3" (click)="triggerDeploy(false)"
            i18n="Trigger Deploy">Trigger
            Deploy</button>
    </div>
</div>