<div class="modal-header">
  <h5 class="modal-title" i18n="add project|Add the project defined in the dialog">Add Project</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
  <div class="input-group mb-3">
    <div class="input-group-prepend"><span class="input-group-text" id="repoField" i18n="repo url|Project repository url">Repository
        Url</span></div>
    <input type="text" class="form-control" [(ngModel)]="repoUrl" aria-describedby="repoField" placeholder="Git clone / SVN checkout Url"
      required />
  </div>
  <div class="container px-0 mb-3 d-flex justify-content-between">
    <div class="col col-sm-4 px-0 input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="repoSelection" i18n="repo type">Repository Type</label>
      </div>
      <select class="custom-select" id="repoSelection" (change)="setRepoSelected($event.target.value)">
        <option *ngFor="let type of RepoTypes | enumToArray">{{ type }}</option>
      </select>
    </div>
    <div class="col col-sm-6 px-0 input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="authSelection" i18n="auth method">Authentification Method</label>
      </div>
      <select class="custom-select" id="authSelection" (change)="setAuthSelected($event.target.value)">
        <option selected value="1" i18n="None">None</option>
        <option value="2" i18n="SSH-Key">SSH-Key</option>
        <option value="3" i18n="Service Account">Service Account</option>
      </select>
    </div>
  </div>
  <div class="input-group mb-3" [ngClass]="{ 'd-none': authSelectedIndex != 2 }">
    <div class="input-group-prepend"><span class="input-group-text" id="sshField" i18n="SSH-Key|Repo Auth: SSH-Key">SSH
        Key</span></div>
    <input type="text" class="form-control" [(ngModel)]="sshKey" aria-describedby="sshField" required />
  </div>
  <div [ngClass]="{ 'd-none': authSelectedIndex != 3 }">
    <div class="input-group mb-3">
      <div class="input-group-prepend"><span class="input-group-text" id="usernameField" i18n="Username|Repo Auth: service account username">Username</span></div>
      <input type="text" class="form-control" [(ngModel)]="username" aria-describedby="usernameField" required />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend"><span class="input-group-text" id="passwordField" i18n="Password|Repo Auth: service account password">Password</span></div>
      <input type="password" class="form-control" [(ngModel)]="password" aria-describedby="passwordField" required />
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal" i18n="Cancel">Cancel</button>
  <button type="button" class="btn btn-primary" (click)="addProject()" data-dismiss="modal" i18n="add project|Add the project defined in the dialog">Add
    Project</button>
</div>