<div class="modal-header">
  <h5 class="modal-title">Add Project</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
  <div class="input-group mb-3">
    <div class="input-group-prepend"><span class="input-group-text" id="repoField">Repository URL</span></div>
    <input type="text" class="form-control" [(ngModel)]="repoUrl" aria-describedby="repoField" />
  </div>
  <div class="dropdown mb-3 d-flex justify-content-end">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Authentification Method
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <button class="dropdown-item" [ngClass]="{ active: selectedIndex == 1 }" (mousedown)="setSelected(1)">None</button>
      <button class="dropdown-item" [ngClass]="{ active: selectedIndex == 2 }" (mousedown)="setSelected(2)">SSH-Key</button>
      <button class="dropdown-item" [ngClass]="{ active: selectedIndex == 3 }" (mousedown)="setSelected(3)">Service
        Account</button>
    </div>
  </div>
  <div class="input-group mb-3" [ngClass]="{ 'd-none': selectedIndex != 2 }">
    <div class="input-group-prepend"><span class="input-group-text" id="sshField">SSH Key</span></div>
    <input type="text" class="form-control" [(ngModel)]="sshKey" aria-describedby="sshField" />
  </div>
  <div [ngClass]="{ 'd-none': selectedIndex != 3 }">
    <div class="input-group mb-3">
      <div class="input-group-prepend"><span class="input-group-text" id="usernameField">Username</span></div>
      <input type="text" class="form-control" [(ngModel)]="username" aria-describedby="usernameField" />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend"><span class="input-group-text" id="passwordField">Password</span></div>
      <input type="text" class="form-control" [(ngModel)]="password" aria-describedby="passwordField" />
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
  <button type="button" class="btn btn-primary" (click)="addProject()" data-dismiss="modal">Add Project</button>
</div>