<a class="container d-flex flex-column py-3 nohover border-bottom border-dark" routerLink="branches/{{branch.name}}">
  <h5 class="text-black">
    {{branch.name}}
  </h5>
  <span *ngIf="branch.description" id="description" class="container text-dark mb-2 text-truncate">
    {{ branch.description }}
  </span>
  <div class="container d-flex flex-row">
    <span class="mr-1 text-dark">Build Status:</span>
    <span class="dot dot-{{ branch.status }} mt-1 mr-2"></span>
    <span class="text-dark" *ngIf="branch.lastCommit && branch.lastCommit.identifier">Last Commit({{
      branch.lastCommit.identifier.substr(0, 7)
      }}): {{
      branch.lastCommit.timestamp |
      date : 'H:mm:ss, d/M/yy (z)' }}</span>
  </div>
</a>