.blackText {
  color: black;
}

.groupCollapse:hover {
  color: black;
}

[data-toggle="collapse"] .fa:before {   
  content: "\f13a";
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f138";
}