<div class="container py-2 border-bottom border-dark">
  <div class="d-flex flex-row justify-content-between">
    <a class="groupCollapse" data-toggle="collapse" href="#collapse{{ projGroup.id }}" role="button" aria-expanded="false"
      (click)="loadGroup()" attr.aria-controls="collapse{{ projGroup.id }}">
      <h4 class="blackText">{{ projGroup.name }}</h4>
    </a>
    <div>
      <button class="btn btn-primary mr-2" data-toggle="modal" attr.data-target="#editProjectgroupModal{{ projGroup.id }}"
        i18n="Edit projectgroup">Edit</button>
      <button class="btn btn-primary" data-toggle="modal" attr.data-target="#addProjectModal{{ projGroup.id }}" i18n="Add project|Add project to projectgroup">Add</button>
    </div>
  </div>
  <div class="collapse" id="collapse{{ projGroup.id }}">
    <div *ngIf="!finishedLoading">
      <a>Loading...</a>
    </div>
    <app-project-list-item *ngFor="let proj of projGroup.projects; let last = last" [border]="!last" [project]="proj"></app-project-list-item>
  </div>
</div>

<div class="modal fade" id="addProjectModal{{ projGroup.id }}" (blur)="clearInput($event)" tabindex="0" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" tabindex="1">
      <app-add-project-dialog #addProjectDialog{{projGroup.id}} [projGroup]="projGroup"> </app-add-project-dialog>
    </div>
  </div>
</div>

<div class="modal fade" id="editProjectgroupModal{{ projGroup.id }}" (blur)="clearInput($event)" tabindex="0" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content" tabindex="1">
      <app-edit-projectgroup-dialog #editProjectgroupDialog{{projGroup.id}} [projGroup]="projGroup">
      </app-edit-projectgroup-dialog>
    </div>
  </div>
</div>