<div class="container d-flex flex-column w-50">
  <div class="container d-flex flex-row justify-content-between mb-2 minwidth">
    <h2>{{project.name}}</h2>
    <div>
      <button type="button" class="btn btn-primary mr-2" (click)="refreshProject()" i18n="Refresh Project">Refresh
        Project</button>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editProjectModal"
        i18n="Edit project">Edit
        Project</button>
    </div>
  </div>
  <a *ngIf="project.name !== 'Initialize' && project.name !=='Error'" class="container infoCollapse"
    data-toggle="collapse" href="#collapse" role="button" aria-expanded="true" attr.aria-controls="collapse">
    <h6 class="text-dark mr-2" i18n="Show more project info">Show more information about the project</h6>
  </a>
  <div class="container collapse" id="collapse">
    <div *ngIf="project.repoWebsiteUrl">
      <a href="{{ project.repoWebsiteUrl }}">Open Repository</a>
    </div>
    <div *ngIf="project.refreshUrl">
      <strong>Refresh Url:</strong> {{ project.refreshUrl }}
    </div>
    <div *ngIf="project.description">
      <strong>Description:</strong> {{ project.description }}
    </div>
    <div *ngIf="project.tags && project.tags.length > 0" i18n="tags">
      <strong>Tags:</strong>
      <ul class="tagList">
        <li *ngFor="let tag of project.tags" data-toggle="tooltip"
          title="{{ tag.commit ? 'Identifier: ' + tag.commit.identifier : null }}">
          {{ tag.name }}
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="branches.length > 0">
    <app-branch-list-item *ngFor="let branch of branches;" [branch]="branch">
    </app-branch-list-item>
  </div>
  <div *ngIf="!branches.length" [ngSwitch]="project.name">
    <div *ngSwitchCase="'Error'" class="container">
      <h5 class="text-center" i18n="No branch available info">
        An error has occured while initializing the project. Please check the project configuration.
      </h5>
    </div>
    <div *ngSwitchCase="'Initialize'" class="container">
      <h5 class="text-center" i18n="No branch available info">
        The project is initializing. Please reload the page after a few moments.
      </h5>
    </div>
    <div *ngSwitchDefault class="container">
      <h5 class="text-center" i18n="No branch available info">
        No branches could be loaded.
      </h5>
    </div>
  </div>
</div>

<div class="modal fade" id="editProjectModal" tabindex="0" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content" tabindex="1">
      <app-edit-project-dialog [project]="project" #editDialog>
      </app-edit-project-dialog>
    </div>
  </div>
</div>