<div class="container d-flex flex-column w-50">
  <div class="container d-flex flex-row justify-content-between mb-2">
    <h2>{{project.name}}</h2>
    <div>
      <button type="button" class="btn btn-primary mr-2" (click)="refreshProject()" i18n="Refresh Project">Refresh
        Project</button>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editProjectModal" i18n="Edit project">Edit
        Project</button>
    </div>
  </div>
  <div *ngIf="project.description" class="container">
    {{ project.description }}
  </div>
  <div *ngIf="branches.length > 0">
    <app-branch-list-item *ngFor="let branch of branches;" [branch]="branch">
    </app-branch-list-item>
  </div>
  <div *ngIf="!branches.length " class="container">
    <h5 class="text-center" i18n="No branch available info">
      No branch has been added yet. Please check your project configuration.
    </h5>
  </div>
</div>

<div class="modal fade" id="editProjectModal" tabindex="0" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content" tabindex="1">
      <app-edit-project-dialog [project]="project" #editDialog>
      </app-edit-project-dialog>
    </div>
  </div>
</div>