<div class="container w-50 d-flex flex-row border-bottom border-dark justify-content-between py-2">
  <div class="d-flex flex-row">
    <span>Status:</span>
    <span class="dot ml-1 mt-1 dot-{{ build.status }}" title="{{ build.status }}"></span>
  </div>
  <span *ngIf="build.reason" [ngClass]="{ 'dot-underline': fmtDependency }" title="{{ fmtDependency }}">Reason:
    {{ build.reason }}</span>
  <span>Time: {{ build.timestamp | date : 'H:mm:ss, d/M/yy (z)'}}</span>
  <span *ngIf="build.commit.identifier">Identifier: <<span>{{
      build.commit.identifier.includes('Revision') ? build.commit.identifier :
      build.commit.identifier.substr(0, 7)
      }}</span>></span>
</div>