<div class="modal-header">
  <h5 class="modal-title" i18n="Edit Project">Edit Project</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="dropdown mb-3 d-flex justify-content-end">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false" i18n="auth method|Authentification method to be used for the repository">
      Authentification Method
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <button class="dropdown-item" [ngClass]="{ active: serviceType == 1 }" (mousedown)="setSelected(1)" i18n="None|No authentification method">None</button>
      <button class="dropdown-item" [ngClass]="{ active: serviceType == 2 }" (mousedown)="setSelected(2)" i18n="SSH-Key|Repo Auth: SSH-Key">SSH-Key</button>
      <button class="dropdown-item" [ngClass]="{ active: serviceType == 3 }" (mousedown)="setSelected(3)" i18n="Service Account|Repo Auth: Service account">Service
        Account</button>
    </div>
  </div>
  <div class="input-group mb-3" [ngClass]="{ 'd-none': serviceType != 2 }">
    <div class="input-group-prepend"><span class="input-group-text" id="sshField" i18n="SSH-Key|Repo Auth: SSH-Key">SSH
        Key</span></div>
    <input type="text" class="form-control" [(ngModel)]="sshKey" aria-describedby="sshField" />
  </div>
  <div [ngClass]="{ 'd-none': serviceType != 3 }">
    <div class="input-group mb-3">
      <div class="input-group-prepend"><span class="input-group-text" id="usernameField" i18n="Username|Repo Auth: service account username">Username</span></div>
      <input type="text" class="form-control" [(ngModel)]="username" aria-describedby="usernameField" />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend"><span class="input-group-text" id="passwordField" i18n="Password|Repo Auth: service account password">Password</span></div>
      <input type="text" class="form-control" [(ngModel)]="password" aria-describedby="passwordField" />
    </div>
  </div>
</div>

<div class="modal-footer d-flex justify-content-between">
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" i18n="Delete|Delete Project">Delete</button>
  <div>
    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal" i18n="Cancel|Cancel the project editing process">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="updateProject()" data-dismiss="modal" i18n="Submit|Submit the changes to the project">Submit</button>
  </div>
</div>


<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body" i18n="project deletion confirmation|Ask for confirmation to delete the project">
        Are you sure you want to delete this Projectgroup?
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-danger" (click)="deleteProject()" data-dismiss="modal" i18n="Delete|Delete Project">Delete</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" i18n="Cancel|Cancel the project deletion">Cancel</button>
      </div>
    </div>
  </div>
</div>