/* Dot 0 corresponds to Buildstatus.SUCCESS */
/* Dots needed for build status */
.dot-Success {
  color: green;
}

.dot-Failed {
  color: red;
}

.dot-Running {
  color: orange;
}

.dot-Unknown {
  color: grey;
}

[data-toggle="collapse"] .fa:before {   
  content: "\f13a";
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f138";
}

.dot-underline {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.minwidth {
  min-width: fit-content;
}